= simple_form_for @contact_form do |f|

  = f.input :name, :autofocus => true, :required => true 
  = f.input :email, :required => true 
  = f.input :message, :as => :text, :required => true 
  
  .hidden
    = f.input :nickname, :hint => t('.captcha_field', default: 'Leave this field blank!')

  = f.button :submit, t('.send', default: 'Send')